[Unit]
Description="Fetch new mail every 5 minutes."

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=mail.service

[Install]
WantedBy=default.target
