keybinds clear-defaults=true {
  normal {
    bind "Ctrl t" { SwitchToMode "tab"; }
    bind "Alt tab" { GoToNextTab; }
  }

  tab {
    bind "esc" "enter" { SwitchToMode "normal"; }
    bind "o" { NewTab; SwitchToMode "normal"; }
    bind "1" { GoToTab 1; SwitchToMode "normal"; }
    bind "2" { GoToTab 2; SwitchToMode "normal"; }
    bind "3" { GoToTab 3; SwitchToMode "normal"; }
    bind "4" { GoToTab 4; SwitchToMode "normal"; }
    bind "5" { GoToTab 5; SwitchToMode "normal"; }
    bind "6" { GoToTab 6; SwitchToMode "normal"; }
    bind "7" { GoToTab 7; SwitchToMode "normal"; }
    bind "8" { GoToTab 8; SwitchToMode "normal"; }
    bind "9" { GoToTab 9; SwitchToMode "normal"; }
  }
}
 
theme "catppuccin-macchiato"
styled_underlines true
pane_frames false

ui {
    pane_frames {
        hide_session_name true
    }
}
 
default_mode "normal"
default_shell "zsh"
mouse_mode true
 
copy_command "wl-copy"

attach_to_session true
 
show_startup_tips false
show_release_notes false
