# Emacs
*~
*#
emacs/eshell/
emacs/auto-save-list/
emacs/eln-cache/
emacs/elpa/
emacs/init.el
emacs/recentf
emacs/image-dired/
emacs/url/
emacs/bookmarks
emacs/projects
emacs/multisession/
emacs/transient/


# Neovim
nvim/lazy-lock.json

