*
!/.config/

# Editors
!/.config/nvim/
!/.config/nvim/**
!/.config/emacs/
!/.config/emacs/**

# Terminals and Shells
!/.config/shell/
!/.config/shell/**
!/.config/alacritty/
!/.config/alacritty/**
!/.config/ghostty/
!/.config/ghostty/**
!/.config/wezterm/
!/.config/wezterm/**
!/.config/tmux/
!/.config/tmux/**
!/.config/zellij/
!/.config/zellij/**
!/.zshenv
!/.config/zsh/
!/.config/zsh/**
!/.config/bash/
!/.config/bash/**
!/.config/fish/
!/.config/fish/**
!/.config/lsd/
!/.config/lsd/**

# Window Managers and Utils
!/.config/hypr/
!/.config/hypr/**
!/.config/waybar/
!/.config/waybar/**
!/.config/xmonad/
!/.config/xmonad/**
!/.config/xmobar/
!/.config/xmobar/**
!/.config/picom/
!/.config/picom/**
!/.config/dunst/
!/.config/dunst/**
!/.config/greenclip.toml
!/.config/mimeapps.list
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/battery.*

# Wallpapers and Scripts
!/.local/share/wallpapers/
!/.local/share/wallpapers/**
!/.local/share/emojis/
!/.local/share/emojis/**
!/.local/share/scripts/
!/.local/share/scripts/**

# Misc
!/.config/librewolf/prefs.js
!/.config/nix/
!/.config/nix/**
