# Emacs
*~
*#
.config/emacs/*~
.config/emacs/README.el
.config/emacs/.org-id-locations
.config/emacs/image-dired/
.config/emacs/eln-cache/
.config/emacs/elpa/
.config/emacs/projects
.config/emacs/recentf
.config/emacs/viper
.config/emacs/bookmarks
.config/emacs/url/
./config/emacs/undo/
./config/emacs/transient/
.config/emacs/games/
.config/emacs/places
.config/emacs/timeplog
.config/emacs/multisession/
./config/emacs/eshell/
./config/emacs/auto-save-list/

# Neovim
.config/nvim/lazy-lock.json

# Kdeconnect
.config/kdeconnect/

# Zen
.config/zen/

# Nextcloud
.config/Nextcloud/
